.containerAuthor {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
}
.authorCurrent{
  width: 110px;
  margin: 0 auto;
  height: auto;
  display: block;
  border: 8px solid #DAA520;
  
}
.infoContainer{
  width: 30%;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  background-color: #F5F5DC;
  padding: 5px 0px;
}
.authorName{
  font-size: 20px;
}
.span{
  font-size: 18px;
}
.infoContainer span{
  display: inline-block;
}
.descriptionAuthor{
  border-radius: 5px;
  font-size: 22px;
  width: 80%;
  margin: 10px auto;
  background-color: #F5F5DC;
  font-family: 'Poppins', sans-serif;
  padding: 8px;
}
.remove{
  text-align: center;
  margin: 0 auto;
}
.removeButton{
  width: 220px;
  font-size: 26px;
  background-color: #1696CC;
  border-style: solid;
  border-width: thin; 
  border-radius: 5px;   
  color: white;
  margin-top: 8px;
  margin-bottom: 3px;
  font-family: 'Poppins', sans-serif;
}

@media (width: 375px) and (height: 667px){
  .containerAuthor {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
  }
  .authorCurrent{
    width: 110px;
    margin: 0 auto;
    height: auto;
    display: block;
    border: 8px solid #DAA520;
    
  }
  .infoContainer{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0px;
    background-color: #F5F5DC;
  }
  .authorName{
    font-size: 20px;
  }
  .span{
    font-size: 18px;
  }
  .infoContainer span{
    display: inline-block;
  }
  .descriptionAuthor{
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
    margin: 10px auto;
    background-color: #F5F5DC;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
  }
  .remove{
    text-align: center;
    margin: 0 auto;
}
.removeButton{
    width: 220px;
    font-size: 24px;
    background-color: #1696CC;
    border-style: solid;
    border-width: thin; 
    border-radius: 5px;   
    color: white;
    margin-top: 8px;
    margin-bottom: 3px;
    font-family: 'Poppins', sans-serif;
}
}

@media (width: 360px) and (height: 640px){
  .containerAuthor {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
  }
  .authorCurrent{
    width: 110px;
    margin: 0 auto;
    height: auto;
    display: block;
    border: 8px solid #DAA520;
    
  }
  .infoContainer{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0px;
    background-color: #F5F5DC;
  }
  .authorName{
    font-size: 20px;
  }
  .span{
    font-size: 18px;
  }
  .infoContainer span{
    display: inline-block;
  }
  .descriptionAuthor{
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
    margin: 10px auto;
    background-color: #F5F5DC;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
  }
  .remove{
    text-align: center;
    margin: 0 auto;
}
.removeButton{
    width: 220px;
    font-size: 24px;
    background-color: #1696CC;
    border-style: solid;
    border-width: thin; 
    border-radius: 5px;   
    color: white;
    margin-top: 8px;
    margin-bottom: 3px;
    font-family: 'Poppins', sans-serif;
}
}

@media (width: 412px) and (height: 732px){
  .containerAuthor {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
  }
  .authorCurrent{
    width: 110px;
    margin: 0 auto;
    height: auto;
    display: block;
    border: 8px solid #DAA520;
    
  }
  .infoContainer{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0px;
    background-color: #F5F5DC;
  }
  .authorName{
    font-size: 20px;
  }
  .span{
    font-size: 18px;
  }
  .infoContainer span{
    display: inline-block;
  }
  .descriptionAuthor{
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
    margin: 10px auto;
    background-color: #F5F5DC;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
  }
  .remove{
    text-align: center;
    margin: 0 auto;
}
.removeButton{
    width: 220px;
    font-size: 24px;
    background-color: #1696CC;
    border-style: solid;
    border-width: thin; 
    border-radius: 5px;   
    color: white;
    margin-top: 8px;
    margin-bottom: 3px;
    font-family: 'Poppins', sans-serif;
}
}

@media (width: 414px) and (height: 736px){
  .containerAuthor {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
  }
  .authorCurrent{
    width: 110px;
    margin: 0 auto;
    height: auto;
    display: block;
    border: 8px solid #DAA520;
    
  }
  .infoContainer{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0px;
    background-color: #F5F5DC;
  }
  .authorName{
    font-size: 20px;
  }
  .span{
    font-size: 18px;
  }
  .infoContainer span{
    display: inline-block;
  }
  .descriptionAuthor{
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
    margin: 10px auto;
    background-color: #F5F5DC;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
  }
  .remove{
    text-align: center;
    margin: 0 auto;
}
.removeButton{
    width: 220px;
    font-size: 24px;
    background-color: #1696CC;
    border-style: solid;
    border-width: thin; 
    border-radius: 5px;   
    color: white;
    margin-top: 8px;
    margin-bottom: 3px;
    font-family: 'Poppins', sans-serif;
}
}
@media (width: 375px) and (height: 812px){
  .containerAuthor {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
  }
  .authorCurrent{
    width: 110px;
    margin: 0 auto;
    height: auto;
    display: block;
    border: 8px solid #DAA520;
    
  }
  .infoContainer{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0px;
    background-color: #F5F5DC;
  }
  .authorName{
    font-size: 20px;
  }
  .span{
    font-size: 18px;
  }
  .infoContainer span{
    display: inline-block;
  }
  .descriptionAuthor{
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
    margin: 10px auto;
    background-color: #F5F5DC;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
  }
  .remove{
    text-align: center;
    margin: 0 auto;
}
.removeButton{
    width: 220px;
    font-size: 24px;
    background-color: #1696CC;
    border-style: solid;
    border-width: thin; 
    border-radius: 5px;   
    color: white;
    margin-top: 8px;
    margin-bottom: 3px;
    font-family: 'Poppins', sans-serif;
}
}

@media (width: 768px) and (height: 1024px){
  .containerAuthor {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
  }
  .authorCurrent{
    width: 110px;
    margin: 0 auto;
    height: auto;
    display: block;
    border: 8px solid #DAA520;
    
  }
  .infoContainer{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0px;
    background-color: #F5F5DC;
  }
  .authorName{
    font-size: 26px;
  }
  .span{
    font-size: 22px;
  }
  .infoContainer span{
    display: inline-block;
  }
  .descriptionAuthor{
    border-radius: 5px;
    font-size: 22px;
    width: 80%;
    margin: 10px auto;
    background-color: #F5F5DC;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
  }
  .remove{
    text-align: center;
    margin: 0 auto;
}
.removeButton{
    width: 220px;
    font-size: 26px;
    background-color: #1696CC;
    border-style: solid;
    border-width: thin; 
    border-radius: 5px;   
    color: white;
    margin-top: 8px;
    margin-bottom: 3px;
    font-family: 'Poppins', sans-serif;
}
} 