.profile{
    float:right;
    /*position: absolute;*/
}

.currentlyReading{
    display: flex;
    justify-content: center;
    width: auto;
}

.topBooks{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 85px;
    height: auto;
}

.favoriteHeader{
    margin-top: 85px;
    height: 15px;
}

.topAuthors{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}
