.containerBook {
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    overflow: auto;
}
.current {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
    
}
.info {
    background-color: #F5F5DC;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    height: auto;
    display: block;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    
}
.bookPage{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bookTitle{
    font-size: 26px;
}

.description{
    border-radius: 5px;
    font-size: 20px;
    width: 80%;
    margin: 10px auto;
    background-color: #F5F5DC;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
}
.remove{
    text-align: center;
    margin: 0 auto;
}
.removeButton{
    width: 220px;
    font-size: 26px;
    background-color: #1696CC;
    border-style: solid;
    border-width: thin; 
    border-radius: 5px;   
    color: white;
    margin-top: 8px;
    margin-bottom: 3px;
    font-family: 'Poppins', sans-serif;
}

@media (width: 375px) and (height: 667px){
    
    .containerBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current {
        width: 100%;
        margin: 0 auto;
        height: auto;
        display: block;
        
    }
    .info {
        background-color: #F5F5DC;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px; 
    }
    .bookPage{
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    
    .bookTitle{
        font-size: 22px;
    }
    
    .description{
        border-radius: 5px;
        font-size: 14px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
    .remove{
        text-align: center;
        margin: 0 auto;
    }
    .removeButton{
        width: 178px;
         font-size: 22px;
         background-color: #1696CC;
         border-style: solid;
         border-width: thin; 
         border-radius: 5px;   
         color: white;
         margin-top: 8px;
         margin-bottom: 3px;
         font-family: 'Poppins', sans-serif;
    }
}
/* galaxy s5 */
@media (width: 360px) and (height: 640px){
    
    .containerBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current {
        width: 100%;
        margin: 0 auto;
        height: auto;
        display: block;
        
    }
    .info {
        background-color: #F5F5DC;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        
    }
    .bookPage{
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    
    .bookTitle{
        font-size: 20px;
    }
    
    .description{
        border-radius: 5px;
        font-size: 14px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
    .remove{
        text-align: center;
        margin: 0 auto;
    }
    .removeButton{
        width: 178px;
         font-size: 22px;
         background-color: #1696CC;
         border-style: solid;
         border-width: thin; 
         border-radius: 5px;   
         color: white;
         margin-top: 8px;
         margin-bottom: 3px;
         font-family: 'Poppins', sans-serif;
    }
}
/* nexus 5x nexus 6p */
@media (width: 412px) and (height: 732px){
    
    .containerBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current {
        width: 100%;
        margin: 0 auto;
        height: auto;
        display: block;
        
    }
    .info {
        background-color: #F5F5DC;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        
    }
    .bookPage{
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    
    .bookTitle{
        font-size: 24px;
    }
    
    .description{
        border-radius: 5px;
        font-size: 16px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
    .remove{
        text-align: center;
        margin: 0 auto;
    }
    .removeButton{
        width: 178px;
         font-size: 22px;
         background-color: #1696CC;
         border-style: solid;
         border-width: thin; 
         border-radius: 5px;   
         color: white;
         margin-top: 8px;
         margin-bottom: 3px;
         font-family: 'Poppins', sans-serif;
    }
}
/* iphone 7 + */
@media (width: 414px) and (height: 736px){
    
    .containerBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current {
        width: 100%;
        margin: 0 auto;
        height: auto;
        display: block;
        
    }
    .info {
        background-color: #F5F5DC;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        
    }
    .bookPage{
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    
    .bookTitle{
        font-size: 24px;
    }
    
    .description{
        border-radius: 5px;
        font-size: 16px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
    .remove{
        text-align: center;
        margin: 0 auto;
    }
    .removeButton{
        width: 178px;
         font-size: 24px;
         background-color: #1696CC;
         border-style: solid;
         border-width: thin; 
         border-radius: 5px;   
         color: white;
         margin-top: 8px;
         margin-bottom: 3px;
         font-family: 'Poppins', sans-serif;
    }
}

/* iphone x */
@media (width: 375px) and (height: 812px){
    
    .containerBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current {
        width: 100%;
        margin: 0 auto;
        height: auto;
        display: block;
        
    }
    .info {
        background-color: #F5F5DC;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        
    }
    .bookPage{
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    
    .bookTitle{
        font-size: 24px;
    }
    
    .description{
        border-radius: 5px;
        font-size: 16px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
    .remove{
        text-align: center;
        margin: 0 auto;
    }
    .removeButton{
        width: 178px;
         font-size: 24px;
         background-color: #1696CC;
         border-style: solid;
         border-width: thin; 
         border-radius: 5px;   
         color: white;
         margin-top: 8px;
         margin-bottom: 3px;
         font-family: 'Poppins', sans-serif;
    }
}

@media (width: 768px) and (height: 1024px){
    
    .containerBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current {
        width: 100%;
        margin: 0 auto;
        height: auto;
        display: block;
        
    }
    .info {
        background-color: #F5F5DC;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        
    }
    .bookPage{
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    
    .bookTitle{
        font-size: 26px;
    }
    
    .description{
        border-radius: 5px;
        font-size: 20px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
    .remove{
        text-align: center;
        margin: 0 auto;
    }
    .removeButton{
        width: 178px;
         font-size: 26px;
         background-color: #1696CC;
         border-style: solid;
         border-width: thin; 
         border-radius: 5px;   
         color: white;
         margin-top: 8px;
         margin-bottom: 3px;
         font-family: 'Poppins', sans-serif;
    }
}

/* desktop */
