/*desktop */

.containerCurrentBook {
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    overflow: auto;  
}

.current_ {
    width: 110px;
    margin: 0 auto;
    height: auto;
    display: block;
    border: 8px solid #DAA520;
    background-color: #F5F5DC;
    padding: 5px;
}

.infoCurrent {
    background-color: #F5F5DC;
    text-align: center;
    width: 60%;
    margin: 10px auto;
    height: auto;
    display: block;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.currentBookPage {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bookTitleCurrent {
    font-size: 24px;
}

.descriptionCurrent {
    border-radius: 5px;
    font-size: 20px;
    width: 60%;
    margin: 10px auto;
    background-color: #F5F5DC;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
}

@media (min-width: 375px) and (max-height: 667px) {
    .containerCurrentBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current_ {
        width: 110px;
        margin: 0 auto;
        height: auto;
        display: block;
        border: 8px solid #DAA520;
    }
    .infoCurrent {
        background-color: #F5F5DC;
        text-align: center;
        width: 60%;
        margin: 10px auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
    }
    .currentBookPage {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    .bookTitleCurrent {
        font-size: 24px;
    }
    .descriptionCurrent {
        border-radius: 5px;
        font-size: 16px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
}

@media (width: 360px) and (height: 640px) {
    .containerCurrentBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current_ {
        width: 110px;
        margin: 0 auto;
        height: auto;
        display: block;
        border: 8px solid #DAA520;
    }
    .infoCurrent {
        background-color: #F5F5DC;
        text-align: center;
        width: 60%;
        margin: 10px auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
    }
    .currentBookPage {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    .bookTitleCurrent {
        font-size: 24px;
    }
    .descriptionCurrent {
        border-radius: 5px;
        font-size: 16px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
}

@media (width: 412px) and (height: 732px) {
    .containerCurrentBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current_ {
        width: 110px;
        margin: 0 auto;
        height: auto;
        display: block;
        border: 8px solid #DAA520;
    }
    .infoCurrent {
        background-color: #F5F5DC;
        text-align: center;
        width: 60%;
        margin: 10px auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
    }
    .currentBookPage {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    .bookTitleCurrent {
        font-size: 24px;
    }
    .descriptionCurrent {
        border-radius: 5px;
        font-size: 16px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
}

@media (width: 414px) and (height: 736px) {
    .containerCurrentBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current_ {
        width: 110px;
        margin: 0 auto;
        height: auto;
        display: block;
        border: 8px solid #DAA520;
    }
    .infoCurrent {
        background-color: #F5F5DC;
        text-align: center;
        width: 60%;
        margin: 10px auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
    }
    .currentBookPage {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    .bookTitleCurrent {
        font-size: 24px;
    }
    .descriptionCurrent {
        border-radius: 5px;
        font-size: 16px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
}

@media (width: 375px) and (height: 812px) {
    .containerCurrentBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current_ {
        width: 110px;
        margin: 0 auto;
        height: auto;
        display: block;
        border: 8px solid #DAA520;
    }
    .infoCurrent {
        background-color: #F5F5DC;
        text-align: center;
        width: 60%;
        margin: 10px auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
    }
    .currentBookPage {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    .bookTitleCurrent {
        font-size: 24px;
    }
    .descriptionCurrent {
        border-radius: 5px;
        font-size: 16px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
}

@media (width: 768px) and (height: 1024px) {
    .containerCurrentBook {
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        overflow: auto;
    }
    .current_ {
        width: 110px;
        margin: 0 auto;
        height: auto;
        display: block;
        border: 8px solid #DAA520;
    }
    .infoCurrent {
        background-color: #F5F5DC;
        text-align: center;
        width: 60%;
        margin: 10px auto;
        height: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
    }
    .currentBookPage {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    .bookTitleCurrent {
        font-size: 26px;
    }
    .descriptionCurrent {
        border-radius: 5px;
        font-size: 20px;
        width: 80%;
        margin: 10px auto;
        background-color: #F5F5DC;
        font-family: 'Poppins', sans-serif;
        padding: 8px;
    }
}