/* desktop */

@media (min-width: 360px){   
    .home {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;   
    }
    .home h1{
        text-align: center;
        padding-top: 30px;
        font-family: 'Berkshire Swash', cursive;
        font-size: 50px;
        color: #1696CC;
        text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }
    .aboutContainer{
        font-size: 13px;
        height: auto;
        margin: 10px auto 0px;
        background-color: white;
        padding: 5px;
        width: 260px;
        display: flex;
        align-items: center;
        flex-direction: column; 
        background-color: #F5F5DC; 
        border-radius: 5px;
        font-family: 'Poppins', sans-serif  
    }
}

@media (min-width: 768px){  
    .home {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto; 
      
    }
    .home h1{
        text-align: center;
        padding-top: 30px;
        font-family: 'Berkshire Swash', cursive;
        font-size: 80px;
        color: #1696CC;
        text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    }

    .aboutContainer{
        height: auto;
        margin: 10px auto 0px;
        background-color: white;
        width: 320px;
        display: flex;
        align-items: center;
        flex-direction: column; 
        background-color: #F5F5DC; 
        border-radius: 5px;
        font-family: 'Poppins', sans-serif  
    }
}

@media (min-width: 1080px){
    .home {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    
    }
    .home h1{
        text-align: center;
        padding-top: 30px;
        font-family: 'Berkshire Swash', cursive;
        font-size: 80px;
        color: #1696CC;
        text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }
    
    .aboutContainer{
        text-align: center;
        height: auto;
        margin: 10px auto 0px;
        background-color: white;
        width: 360px;
        display: flex;
        align-items: center;
        flex-direction: column; 
        background-color: #F5F5DC; 
        border-radius: 5px;
        font-family: 'Poppins', sans-serif  
        }
    }