
/*galaxy s5 */
/* @media (width: 360px) and (height: 640px){
    
   .login-form{
      text-align: center;
       margin: 0 auto;    
   }

   .form-wrapper{
       height: auto;
       margin: 50px auto 0px;
       background-color: white;
       width: 220px;
       display: flex;
       align-items: center;
       flex-direction: column; 
       background-color: #F5F5DC; 
       border-radius: 5px
   }
   .username{
       color: black;
       font-family: 'Poppins', sans-serif;
       font-size: 18px;

   }
   .password{
       color: black;
       font-family: 'Poppins', sans-serif;
       font-size: 18px;
       
   }
    .login-button{
        width: 178px;
        font-size: 18px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: white;
        margin-top: 8px;
        margin-bottom: 3px;
        font-family: 'Poppins', sans-serif;
    }
    .register{
        color: black;
        font-family: 'Poppins', sans-serif;
    }
} */

@media (min-width: 320px) {
    
    .login-form{
       text-align: center;
    
        margin: 0 auto;
            
    }
    .form-wrapper{
        height: auto;
        margin: 40px auto 0px;   
        width: 240px;
        display: flex;
        align-items: center;
        flex-direction: column; 
        background-color: #a9a9a9;
        border-radius: 5px
   
    }
    .username{
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
 
    }
    .password{
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        
    }
    .login-button{
         width: 178px;
         font-size: 18px;
         background-color: #1696CC;
         border-style: solid;
         border-width: thin; 
         border-radius: 5px;   
         color: white;
         margin-top: 8px;
         margin-bottom: 3px;
         font-family: 'Poppins', sans-serif;
     }
     .register{
         color: black;
         font-family: 'Poppins', sans-serif;
     }

 }


 @media (min-width: 414px){
    
    .login-form{
        text-align: center;
        margin: 0 auto; 
        width: 200px;      
    }
    .form-wrapper{
        height: auto;
        margin: 40px auto 0px;   
        width: 280px;
        display: flex;
        align-items: center;
        flex-direction: column; 
        background-color: #a9a9a9;
        border-radius: 5px
   
    }
    .username{
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
 
    }
    .password{
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        
    }
    .login-button{
         width: 178px;
         font-size: 18px;
         background-color: #1696CC;
         border-style: solid;
         border-width: thin; 
         border-radius: 5px;   
         color: white;
         margin-top: 8px;
         margin-bottom: 3px;
         font-family: 'Poppins', sans-serif;
     }
     .register{
         color: black;
         font-family: 'Poppins', sans-serif;
     }
 }


 @media (min-width: 768px) {
    
    .login-form{
       text-align: center;
        margin: 0 auto;
            
    }
    .form-wrapper{
        height: auto;
        margin: 30px auto 0px;   
        width: 220px;
        display: flex;
        align-items: center;
        flex-direction: column; 
        background-color: #a9a9a9;
        border-radius: 5px
   
    }
    .username{
        color: black;
        font-family: 'Poppins', sans-serif;
 
    }
    .password{
        color: black;
        font-family: 'Poppins', sans-serif;
        
    }
    .login-button{
         width: 178px;
         font-size: 18px;
         background-color: #1696CC;
         border-style: solid;
         border-width: thin; 
         border-radius: 5px;   
         color: white;
         margin-top: 8px;
         margin-bottom: 3px;
         font-family: 'Poppins', sans-serif;
     }
     .register{
         color: black;
         font-family: 'Poppins', sans-serif;
     }
 }
 @media (min-width: 1080px){
    .login-form{
        text-align: center;
         margin: 0 auto;  
           
     }
    
     .form-wrapper{
         height: auto;
         margin: 40px auto;
         padding-bottom: 20px;
         width: 260px;
         display: flex;
         /* border: 3px solid #DAA520; */
         align-items: center;
         flex-direction: column; 
         background-color: #a9a9a9;
         border-radius: 5px
     }
     .username{
         color: black;
         font-family: 'Poppins', sans-serif;
         font-size: 20px;
    
     }
     .password{
         color: black;
         font-family: 'Poppins', sans-serif;
         font-size: 20px;
         
     }
      .login-button{
          width: 178px;
          font-size: 18px;
          background-color: #1696CC;
          border-style: solid;
          border-width: thin; 
          border-radius: 5px;   
          color: white;
          margin-top: 8px;
          margin-bottom: 3px;
          font-family: 'Poppins', sans-serif;
      }
      .register{
          color: black;
          font-family: 'Poppins', sans-serif;
      }
    }