.profile{
  height: 100%;
}
.noTopBooks{
  background-color: #F5F5DC;
  padding-top: 2px;
  text-align: center;
  font-size: 26px;
  width: 80%;
  font-family: 'Poppins', sans-serif;
  margin: 5px auto;
  margin-bottom: 5px;
  border-radius: 5px;
}
.noTopAuthors{
  background-color: #F5F5DC;
  padding-top: 2px;
  text-align: center;
  font-size: 26px;
  width: 80%;
  font-family: 'Poppins', sans-serif;
  margin: 5px auto;
  margin-bottom: 5px;
  border-radius: 5px;
}
.currentBookWrapper{
  background-color: #F5F5DC;
  padding: 5px 0px;
  width: 280px;
  margin: 25px auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.personUsername {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #585858;
}
.usernameSpan {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 150px;
  font-size: 26px;
  color: #F0F0F0;
  text-align: center;
  background-color: #1696CC;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

 @media (width: 375px) and (height: 667px) {
  .profile{
    height: 100%;
  }
  .noTopBooks{
    background-color: #F5F5DC;
    padding-top: 2px;
    text-align: center;
    font-size: 26px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin: 5px auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .noTopAuthors{
    background-color: #F5F5DC;
    padding-top: 2px;
    text-align: center;
    font-size: 26px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin: 5px auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .currentBookWrapper{
    background-color: #F5F5DC;
    padding: 5px 0px;
    width: 280px;
    margin: 5px auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .personUsername {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #585858;
  }
  .usernameSpan {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    font-size: 22px;
    color: #F0F0F0;
    text-align: center;
    background-color: #1696CC;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
  }
}

@media (width: 360px) and (height: 640px) {
  .profile{
    height: 100%;
  }
  .noTopBooks{
    background-color: #F5F5DC;
    padding-top: 2px;
    text-align: center;
    font-size: 26px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin: 5px auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .noTopAuthors{
    background-color: #F5F5DC;
    padding-top: 2px;
    text-align: center;
    font-size: 26px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin: 5px auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .currentBookWrapper{
    background-color: #F5F5DC;
    padding: 5px 0px;
    width: 280px;
    margin: 5px auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .personUsername {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #585858;
  }
  .usernameSpan {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    font-size: 22px;
    color: #F0F0F0;
    text-align: center;
    background-color: #1696CC;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
  }
}

@media (width: 412px) and (height: 732px) {
  .profile{
    height: 100%;
  }
  .noTopBooks{
    background-color: #F5F5DC;
    padding-top: 2px;
    text-align: center;
    font-size: 26px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin: 5px auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .noTopAuthors{
    background-color: #F5F5DC;
    padding-top: 2px;
    text-align: center;
    font-size: 26px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin: 5px auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .currentBookWrapper{
    background-color: #F5F5DC;
    padding: 5px 0px;
    width: 280px;
    margin: 5px auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .personUsername {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #585858;
  }
  .usernameSpan {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    font-size: 22px;
    color: #F0F0F0;
    text-align: center;
    background-color: #1696CC;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
  }
}

@media (width: 414px) and (height: 736px) {
  .profile{
    height: 100%;
  }
  .noTopBooks{
    background-color: #F5F5DC;
    padding-top: 2px;
    text-align: center;
    font-size: 26px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin: 5px auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .noTopAuthors{
    background-color: #F5F5DC;
    padding-top: 2px;
    text-align: center;
    font-size: 26px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin: 5px auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .currentBookWrapper{
    background-color: #F5F5DC;
    padding: 5px 0px;
    width: 280px;
    margin: 5px auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .personUsername {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #585858;
  }
  .usernameSpan {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    font-size: 22px;
    color: #F0F0F0;
    text-align: center;
    background-color: #1696CC;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
  }
}

@media (width: 375px) and (height: 812px) {
  .profile{
    height: 100%;
  }
  .noTopBooks{
    background-color: #F5F5DC;
    padding-top: 2px;
    text-align: center;
    font-size: 26px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin: 5px auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .noTopAuthors{
    background-color: #F5F5DC;
    padding-top: 2px;
    text-align: center;
    font-size: 26px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin: 5px auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .currentBookWrapper{
    background-color: #F5F5DC;
    padding: 5px 0px;
    width: 280px;
    margin: 5px auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .personUsername {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #585858;
  }
  .usernameSpan {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    font-size: 22px;
    color: #F0F0F0;
    text-align: center;
    background-color: #1696CC;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
  }
} 