@media (min-width: 375px) and (max-height: 667px){
  .goBackContainer{
    text-align: center;
    margin: 0 auto;
}
.goBackButton{
  width: 178px;
   font-size: 18px;
   background-color: #1696CC;
   border-style: solid;
   border-width: thin; 
   border-radius: 5px;   
   color: white;
   margin-top: 8px;
   margin-bottom: 3px;
   font-family: 'Poppins', sans-serif;
}
}