/* desktop */
.profile{
    height: 100%;
    background-color: #F5F5DC
}
.currentBookWrapper{
    background-color: #F5F5DC;
    padding-top: 2px;
    width: 280px;
    margin: 5px auto;
    margin-bottom: 5px;
    border-radius: 5px;
}
.currentBookContainer{   
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: black;
    }
.updateCurrentButton {
    width: auto;
    font-size: 24px;
    background-color: #1696CC;
    border-style: solid;
    border-width: thin; 
    border-radius: 5px;   
    color: #F0F0F0;
    margin-top: 8px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif    
}
.updateCurrentButton:hover{
    transform: scale(1.1);
}
.updateCurrentBookContainer {
    margin: 0 auto;
    width: 100%;
    display: relative;
    text-align: center;
}
.currentBook{ 
    text-align: center;    
    width: 120px;
    height: auto;
    margin: 5px auto;   
    border: 8px solid #DAA520;
    border-radius: 5px;    
}
.currentBook:hover{
    border-color: #1696CC
}

.currentBookTitle{
    margin: 5px auto;
    width: 240px;
    top: 5px;
    font-size: 24px;
    color: #F0F0F0;
    background-color: #1696CC;
    text-align: center;
    border-radius: 5px; 
    font-family: 'Poppins', sans-serif 
}
.topBookWrapper{
    background-color: #F5F5DC;
    width: 130px;
    height: auto;
    text-align: center;
    padding-top: 15px;
    border: 8px solid #DAA520;
    border-radius: 5px;
}
.topBookWrapper:hover{
    border-color: #1696CC
}
.topBooksTitle{
    margin: 10px auto;
    width: 150px;
    font-size: 24px;
    color: #F0F0F0;
    text-align: center;
    background-color: #1696CC;
    border-radius: 5px; 
    font-family: 'Poppins', sans-serif 
}

.topAuthorsTitle{
    margin: 10px auto;
    width: 150px;
    font-size: 24px;
    color: #F0F0F0;
    text-align: center;
    background-color: #1696CC;
    border-radius: 5px; 
    font-family: 'Poppins', sans-serif 
}

.topBooks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: auto; 
}
.topAuthors{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;  
}
.updateTopBooksContainer {
    margin: 0 auto;
    width: 100%;
    display: relative;
    text-align: center;
}

.updateTopBooksButton {
    width: auto;
    font-size: 24px;
    background-color: #1696CC;
    border-radius: 5px;   
    color: #F0F0F0;
    margin-top: 8px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif    
}
.updateTopBooksButton:hover{
    transform: scale(1.1);
}
.topBooksContainer{   
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #585858;
    }

.updateTopAuthorsButton {
    width: auto;
    font-size: 24px;
    background-color: #1696CC;
    border-style: solid;
    border-width: thin; 
    border-radius: 5px;   
    color: #F0F0F0;
    margin-top: 8px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif    
    }
.updateTopAuthorsButton:hover{
    transform: scale(1.1);
}

.updateTopAuthorsContainer {
    margin: 0 auto;
    width: 100%;
    display: relative;
    text-align: center;
    }

.topAuthorsContainer{   
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #585858;
}

.topAuthorWrapper{
    background-color: #F5F5DC;
    width: 80px;
    height: auto;
    text-align: center;
    padding-top: 5px;
    border: 5px solid #DAA520;
    border-radius: 5px;
}
.topAuthorWrapper:hover{
    border-color: #1696CC
}
/* iphone 7 and 8 */
@media (width: 375px) and (height: 667px){
    
    .profile{
        height: 100%;
        background-color: #F5F5DC
    }
    .currentBookWrapper{
        background-color: #F5F5DC;
        padding-top: 2px;
        width: 260px;
        margin: 5px auto;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .currentBookContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: black;
        }
    .updateCurrentButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateCurrentButton:hover{
        transform: scale(1.1);
    }
    .updateCurrentBookContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    .currentBook{ 
        text-align: center;    
        width: 120px;
        height: auto;
        margin: 5px auto;   
        border: 8px solid #DAA520;
        border-radius: 5px;    
    }
    .currentBook:hover{
        border-color: #1696CC
    }
    .currentBookTitle{
        margin: 5px auto;
        width: 220px;
        top: 5px;
        font-size: 18px;
        color: #F0F0F0;
        background-color: #1696CC;
        text-align: center;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    .topBookWrapper{
        background-color: #F5F5DC;
        width: 130px;
        height: auto;
        margin-top: 5px;
        text-align: center;
        padding-top: 15px;
        border: 8px solid #DAA520;
        border-radius: 5px;       
    }
    .topBookWrapper:hover{
        border-color: #1696CC
    }
    .topBooksTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 18px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    
    .topAuthorsTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 18px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    
    .topBooks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
    .topAuthors{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;  
    }
    .updateTopBooksContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    
    .updateTopBooksButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateTopBooksButton:hover{
        transform: scale(1.1);
    }
    .topBooksContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
        }
    
    .updateTopAuthorsButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
        }
    .updateTopAuthorsButton:hover{
        transform: scale(1.1);
    }
    
    .updateTopAuthorsContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
        }
    
    .topAuthorsContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
    }
    
    .topAuthorWrapper{
        background-color: #F5F5DC;
        width: 80px;
        margin-top: 5px;
        height: auto;
        text-align: center;
        padding: 5px;
        border: 5px solid #DAA520;
        border-radius: 5px;
    }
    .topAuthorWrapper:hover{
        border-color: #1696CC
    }
}

/* galaxy s5 */
@media (width: 360px) and (height: 640px){
    
    .profile{
        height: 100%;
        background-color: #F5F5DC
    }
    .currentBookWrapper{
        background-color: #F5F5DC;
        padding-top: 2px;
        width: 260px;
        margin: 5px auto;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .currentBookContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: black;
        }
    .updateCurrentButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateCurrentButton:hover{
        transform: scale(1.1);
    }
    .updateCurrentBookContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    .currentBook{ 
        text-align: center;    
        width: 120px;
        height: auto;
        margin: 5px auto;   
        border: 8px solid #DAA520;
        border-radius: 5px;    
    }
    .currentBook:hover{
        border-color: #1696CC
    }
    .currentBookTitle{
        margin: 5px auto;
        width: 220px;
        top: 5px;
        font-size: 18px;
        color: #F0F0F0;
        background-color: #1696CC;
        text-align: center;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    .topBookWrapper{
        background-color: #F5F5DC;
        width: 130px;
        height: auto;
        margin-top: 5px;
        text-align: center;
        padding-top: 15px;
        border: 8px solid #DAA520;
        border-radius: 5px;
    }
    .topBookWrapper:hover{
        border-color: #1696CC
    }
    .topBooksTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 18px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    
    .topAuthorsTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 18px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }  
    .topBooks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
    .topAuthors{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;  
    }
    .updateTopBooksContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    
    .updateTopBooksButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateTopBooksButton:hover{
        transform: scale(1.1);
    }
    .topBooksContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
    }
    
    .updateTopAuthorsButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
     }
    .updateTopAuthorsButton:hover{
        transform: scale(1.1);
    }
    
    .updateTopAuthorsContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    
    .topAuthorsContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
    }
    
    .topAuthorWrapper{
        background-color: #F5F5DC;
        width: 80px;
        margin-top: 5px;
        height: auto;
        text-align: center;
        padding: 5px;
        border: 5px solid #DAA520;
        border-radius: 5px;
    }
    .topAuthorWrapper:hover{
        border-color: #1696CC
    }
}

/* nexus 6p and nexus 5x */

@media (width: 412px) and (height: 732px){
    
    .profile{
        height: 100%;
        background-color: #F5F5DC
    }
    .currentBookWrapper{
        background-color: #F5F5DC;
        padding-top: 2px;
        width: 260px;
        margin: 5px auto;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .currentBookContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: black;
        }
    .updateCurrentButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateCurrentButton:hover{
        transform: scale(1.1);
    }
    .updateCurrentBookContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    .currentBook{ 
        text-align: center;    
        width: 120px;
        height: auto;
        margin: 5px auto;   
        border: 8px solid #DAA520;
        border-radius: 5px;    
    }
    .currentBook:hover{
        border-color: #1696CC
    }
    .currentBookTitle{
        margin: 5px auto;
        width: 220px;
        top: 5px;
        font-size: 18px;
        color: #F0F0F0;
        background-color: #1696CC;
        text-align: center;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    .topBookWrapper{
        background-color: #F5F5DC;
        width: 130px;
        height: auto;
        margin-top: 5px;
        text-align: center;
        padding-top: 15px;
        border: 8px solid #DAA520;
        border-radius: 5px;
    }
    .topBookWrapper:hover{
        border-color: #1696CC
    }
    .topBooksTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 18px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    
    .topAuthorsTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 18px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    
    .topBooks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
    .topAuthors{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;  
    }
    .updateTopBooksContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    
    .updateTopBooksButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateTopBooksButton:hover{
        transform: scale(1.1);
    }
    .topBooksContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
        }
    
    .updateTopAuthorsButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateTopAuthorsButton:hover{
        transform: scale(1.1);
    }
    
    .updateTopAuthorsContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
        }
    
    .topAuthorsContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
    }
    
    .topAuthorWrapper{
        background-color: #F5F5DC;
        width: 80px;
        margin-top: 5px;
        height: auto;
        text-align: center;
        padding: 5px;
        border: 5px solid #DAA520;
        border-radius: 5px;
    }
    .topAuthorWrapper:hover{
        border-color: #1696CC
    }
}

/* iphone 7+ 8+ */
@media (width: 414px) and (height: 736px){
    
    .profile{
        height: 100%;
        background-color: #F5F5DC
    }
    .currentBookWrapper{
        background-color: #F5F5DC;
        padding-top: 2px;
        width: 260px;
        margin: 5px auto;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .currentBookContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: black;
        }
    .updateCurrentButton {
        width: auto;
        font-size: 20px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateCurrentButton:hover{
        transform: scale(1.1);
    }
    .updateCurrentBookContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    .currentBook{ 
        text-align: center;    
        width: 120px;
        height: auto;
        margin: 5px auto;   
        border: 8px solid #DAA520;
        border-radius: 5px;    
    }
    .currentBook:hover{
        border-color: #1696CC
    }
    .currentBookTitle{
        margin: 5px auto;
        width: 220px;
        top: 5px;
        font-size: 20px;
        color: #F0F0F0;
        background-color: #1696CC;
        text-align: center;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    .topBookWrapper{
        background-color: #F5F5DC;
        width: 130px;
        height: auto;
        margin-top: 5px;
        text-align: center;
        padding-top: 15px;
        border: 8px solid #DAA520;
        border-radius: 5px;
    }
    .topBookWrapper:hover{
        border-color: #1696CC
    }
    .topBooksTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 20px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    
    .topAuthorsTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 20px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    
    .topBooks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
    .topAuthors{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;  
    }
    .updateTopBooksContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    
    .updateTopBooksButton {
        width: auto;
        font-size: 20px;
        background-color: #1696CC;
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateTopBooksButton:hover{
        transform: scale(1.1);
    }
    .topBooksContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
        }
    
    .updateTopAuthorsButton {
        width: auto;
        font-size: 20px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateTopAuthorsButton:hover{
        transform: scale(1.1);
    }
    
    .updateTopAuthorsContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
        }
    
    .topAuthorsContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
    }
    
    .topAuthorWrapper{
        background-color: #F5F5DC;
        width: 80px;
        margin-top: 5px;
        height: auto;
        text-align: center;
        padding: 5px;
        border: 5px solid #DAA520;
        border-radius: 5px;
    }
    .topAuthorWrapper:hover{
        border-color: #1696CC
    }
}
/* iphone X */
@media (width: 375px) and (height: 812px){
    
    .profile{
        height: 100%;
        background-color: #F5F5DC
    }
    .currentBookWrapper{
        background-color: #F5F5DC;
        padding-top: 2px;
        width: 260px;
        margin: 5px auto;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .currentBookContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: black;
        }
    .updateCurrentButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateCurrentButton:hover{
        transform: scale(1.1);
    }
    .updateCurrentBookContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    .currentBook{ 
        text-align: center;    
        width: 120px;
        height: auto;
        margin: 5px auto;   
        border: 8px solid #DAA520;
        border-radius: 5px;    
    }
    .currentBook:hover{
        border-color: #1696CC
    }
    .currentBookTitle{
        margin: 5px auto;
        width: 220px;
        top: 5px;
        font-size: 18px;
        color: #F0F0F0;
        background-color: #1696CC;
        text-align: center;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    .topBookWrapper{
        background-color: #F5F5DC;
        width: 130px;
        height: auto;
        margin-top: 5px;
        text-align: center;
        padding-top: 15px;
        border: 8px solid #DAA520;
        border-radius: 5px;
    }
    .topBookWrapper:hover{
        border-color: #1696CC
    }
    .topBooksTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 18px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    
    .topAuthorsTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 18px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    
    .topBooks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
    .topAuthors{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;  
    }
    .updateTopBooksContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    
    .updateTopBooksButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateTopBooksButton:hover{
        transform: scale(1.1);
    }
    .topBooksContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
        }
    
    .updateTopAuthorsButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateTopAuthorsButton:hover{
        transform: scale(1.1);
    }
    
    .updateTopAuthorsContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
        }
    
    .topAuthorsContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
    }
    
    .topAuthorWrapper{
        background-color: #F5F5DC;
        width: 80px;
        margin-top: 5px;
        height: auto;
        text-align: center;
        padding: 5px;
        border: 5px solid #DAA520;
        border-radius: 5px;
    }
    .topAuthorWrapper:hover{
        border-color: #1696CC
    }
}

/* ipad */
@media (width: 768px) and (height: 1024px){
    
    .profile{
        height: 100%;
        background-color: #F5F5DC
    }
    .currentBookWrapper{
        background-color: #F5F5DC;
        padding-top: 2px;
        width: 260px;
        margin: 5px auto;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .currentBookContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: black;
        }
    .updateCurrentButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    updateCurrentButton:hover{
        transform: scale(1.1);
    }
    .updateCurrentBookContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    .currentBook{ 
        text-align: center;    
        width: 120px;
        height: auto;
        margin: 5px auto;   
        border: 8px solid #DAA520;
        border-radius: 5px;    
    }
    .currentBook:hover{
        border-color: #1696CC
    }
    .currentBookTitle{
        margin: 5px auto;
        width: 220px;
        top: 5px;
        font-size: 18px;
        color: #F0F0F0;
        background-color: #1696CC;
        text-align: center;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }
    .topBookWrapper{
        background-color: #F5F5DC;
        width: 130px;
        height: auto;
        margin-top: 5px;
        text-align: center;
        padding-top: 15px;
        border: 8px solid #DAA520;
        border-radius: 5px;
    }
    .topBookWrapper:hover{
        border-color: #1696CC
    }
    .topBooksTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 18px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    }   
    .topAuthorsTitle{
        margin: 10px auto;
        width: 150px;
        font-size: 18px;
        color: #F0F0F0;
        text-align: center;
        background-color: #1696CC;
        border-radius: 5px; 
        font-family: 'Poppins', sans-serif 
    } 
    .topBooks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
    .topAuthors{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;  
    }
    .updateTopBooksContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
    }
    
    .updateTopBooksButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateTopBooksButton:hover{
        transform: scale(1.1);
    }
    .topBooksContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
        }
    
    .updateTopAuthorsButton {
        width: auto;
        font-size: 18px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif    
    }
    .updateTopAuthorsButton:hover{
        transform: scale(1.1);
    }
    .updateTopAuthorsContainer {
        margin: 0 auto;
        width: 100%;
        display: relative;
        text-align: center;
        }
    
    .topAuthorsContainer{   
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #585858;
    }
    
    .topAuthorWrapper{
        background-color: #F5F5DC;
        width: 80px;
        margin-top: 5px;
        height: auto;
        text-align: center;
        padding: 5px;
        border: 5px solid #DAA520;
        border-radius: 5px;
    }
    .topAuthorWrapper:hover{
        border-color: #1696CC
    }
}
