.homeone {
  height: 800px;
  text-align: center;
}

.homeone h2 {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  font-size: 80px;
  color: #1696CC;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.homeone h3 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  background-color: #F5F5DC; 
  width: 240px;
  margin: 5px auto;
  border-radius: 5px;
}

@media (width: 360px) and (height: 640px) {
  .homeone {
    height: 800px;
    text-align: center;
  }
  .homeone h2 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #1696CC;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }
  .homeone h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    background-color: #F5F5DC; 
    width: 240px;
    margin: 10px auto;
   border-radius: 5px;

  }
}

@media (width: 412px) and (height: 732px) {
  .homeone {
    height: 800px;
    text-align: center;
  }
  .homeone h2 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #1696CC;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }
  .homeone h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    background-color: #F5F5DC; 
  width: 240px;
  margin: 10px auto;
  border-radius: 5px;
  }
}

@media (width: 375px) and (height: 667px) {
  .homeone {
    height: 800px;
    text-align: center;
  }
  .homeone h2 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #1696CC;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }
  .homeone h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    background-color: #F5F5DC; 
  width: 240px;
  margin: 10px auto;
  border-radius: 5px;
  }
}

@media (width: 414px) and (height: 736px) {
  .homeone {
    height: 800px;
    text-align: center;
  }
  .homeone h2 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #1696CC;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }
  .homeone h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    background-color: #F5F5DC; 
  width: 240px;
  margin: 10px auto;
  border-radius: 5px;
  }
}

@media (width: 375px) and (height: 812px) {
  .homeone {
    height: 800px;
    text-align: center;
  }
  .homeone h2 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #1696CC;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }
  .homeone h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    background-color: #F5F5DC; 
  width: 240px;
  margin: 10px auto;
  border-radius: 5px;
  }
}

@media (width: 768px) and (height: 1024px) {
  .homeone {
    height: 800px;
    text-align: center;
  }
  .homeone h2 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 70px;
    color: #1696CC;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }
  .homeone h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    background-color: #F5F5DC; 
  width: 240px;
  margin: 10px auto;
  border-radius: 5px;
  }
}