.form-wrapperone{
  height: auto;
  margin: 0px auto 0px;
  width: 240px;
  display: flex;
  align-items: center;
  flex-direction: column; 
  background-color: #F5F5DC;; 
  border-radius: 5px
}

.login-form{
  text-align: center;
  margin: 0 auto;   
}

label{
  font-size: 16px;
}
.registerbutton{
  margin: 5px auto;
  font-size: 22px;
  color: black;
}