.searchResultContainer{
    border: 1px solid black;
}
.helpPage{
   text-align: center;
   border-style: solid;
   border-width: thin;
   width:240px;
   margin: 5px auto;
   font-size: 20px;
   background-color: #1696CC;
   color: #F0F0F0;
   border-radius: 5px;
} 
.searchResults{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: auto; 
  margin-top: 15px;
}

.searchWrapper{
  margin-top: 30px;
  text-align: center;
  background-color:#FFA07A;
  width: 220px;
  margin: 30px auto 0px; 
  border-radius: 5px;
}

.searchLabel{
  width: 175px;
  font-size: 16px;
  /* background-color: #1696CC; */
  border-radius: 5px;   
  color: #F0F0F0;
  display: inline-block;
  border-radius: 5px;   
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
}
input[type=submit]{
  width: auto;
  font-size: 16px;
  background-color: #1696CC;
  border-style: solid;
  border-width: thin; 
  border-radius: 5px;   
  color: #F0F0F0;
  margin-top: 8px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
}

input[type=text]{
  margin-top: 5px;
  width: 160px;
  height: 24px;
  font-size: 16px;
}


@media (width: 375px) and (height: 667px){

    .searchResultContainer{
        border: 1px solid black;
    }
   .helpPage{
       text-align: center;
       border-style: solid;
       border-width: thin;
       margin-top: 5px;
       background-color: #1696CC;
       color: #F0F0F0;
   } 
  .searchResults{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      height: auto; 
  }

  .searchWrapper{
      margin-top: 30px;
      text-align: center;
      background-color:#FFA07A;
      width: 220px;
      margin: 30px auto 0px; 
      border-radius: 5px;
  }

  .searchLabel{
      width: 175px;
      font-size: 16px;
      /* background-color: #1696CC; */
      border-radius: 5px;   
      color: #F0F0F0;
      display: inline-block;
      border-radius: 5px;   
      margin-top: 8px;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 5px;
  }
  input[type=submit]{
      width: auto;
      font-size: 16px;
      background-color: #1696CC;
      border-style: solid;
      border-width: thin; 
      border-radius: 5px;   
      color: #F0F0F0;
      margin-top: 8px;
      margin-bottom: 5px;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 5px;
  }

  input[type=text]{
      margin-top: 5px;
      width: 160px;
      height: 24px;
      font-size: 16px;
  }
  .searchResults{
      margin-top: 15px;
  }

}

@media (width: 360px) and (height: 640px){

    .helpPage{
        text-align: center;
        border-style: solid;
        border-width: thin;
        margin-top: 5px;
        background-color: #1696CC;
        color: #F0F0F0;
    } 
    .searchResults{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
  
    .searchWrapper{
        margin-top: 30px;
        text-align: center;
        background-color:#FFA07A;
        width: 220px;
        margin: 30px auto 0px; 
        border-radius: 5px;
    }
  
    .searchLabel{
        width: 175px;
        font-size: 16px;
        /* background-color: #1696CC; */
        border-radius: 5px;   
        color: #F0F0F0;
        display: inline-block;
        border-radius: 5px;   
        margin-top: 8px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    input[type=submit]{
        width: auto;
        font-size: 16px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
  
    input[type=text]{
        margin-top: 5px;
        width: 160px;
        height: 24px;
        font-size: 16px;
    }
    .searchResults{
        margin-top: 15px;
    }
  }
@media (width: 412px) and (height: 732px){

    .helpPage{
        text-align: center;
        border-style: solid;
        border-width: thin;
        margin-top: 5px;
        background-color: #1696CC;
        color: #F0F0F0;
    } 
    .searchResults{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
  
    .searchWrapper{
        margin-top: 30px;
        text-align: center;
        background-color:#FFA07A;
        width: 220px;
        margin: 30px auto 0px; 
        border-radius: 5px;
    }
  
    .searchLabel{
        width: 175px;
        font-size: 16px;
        /* background-color: #1696CC; */
        border-radius: 5px;   
        color: #F0F0F0;
        display: inline-block;
        border-radius: 5px;   
        margin-top: 8px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    input[type=submit]{
        width: auto;
        font-size: 16px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
  
    input[type=text]{
        margin-top: 5px;
        width: 160px;
        height: 24px;
        font-size: 16px;
    }
    .searchResults{
        margin-top: 15px;
    }
  }

@media (width: 414px) and (height: 736px){

    .helpPage{
        text-align: center;
        border-style: solid;
        border-width: thin;
        margin-top: 5px;
        background-color: #1696CC;
        color: #F0F0F0;
    } 
    .searchResults{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
  
    .searchWrapper{
        margin-top: 30px;
        text-align: center;
        background-color:#FFA07A;
        width: 220px;
        margin: 30px auto 0px; 
        border-radius: 5px;
    }
  
    .searchLabel{
        width: 175px;
        font-size: 16px;
        /* background-color: #1696CC; */
        border-radius: 5px;   
        color: #F0F0F0;
        display: inline-block;
        border-radius: 5px;   
        margin-top: 8px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    input[type=submit]{
        width: auto;
        font-size: 16px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
  
    input[type=text]{
        margin-top: 5px;
        width: 160px;
        height: 24px;
        font-size: 16px;
    }
    .searchResults{
        margin-top: 15px;
    }
  }

  @media (width: 375px) and (height: 812px){

    .helpPage{
        text-align: center;
        border-style: solid;
        border-width: thin;
        margin-top: 5px;
        background-color: #1696CC;
        color: #F0F0F0;
    } 
    .searchResults{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
  
    .searchWrapper{
        margin-top: 30px;
        text-align: center;
        background-color:#FFA07A;
        width: 220px;
        margin: 30px auto 0px; 
        border-radius: 5px;
    }
  
    .searchLabel{
        width: 175px;
        font-size: 16px;
        /* background-color: #1696CC; */
        border-radius: 5px;   
        color: #F0F0F0;
        display: inline-block;
        border-radius: 5px;   
        margin-top: 8px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    input[type=submit]{
        width: auto;
        font-size: 16px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
  
    input[type=text]{
        margin-top: 5px;
        width: 160px;
        height: 24px;
        font-size: 16px;
    }
    .searchResults{
        margin-top: 15px;
    }
  }

  