@media (min-width: 375px) and (max-height: 667px){

  .buttonsCurrent {
    display: inline-block;
    width: 150px;
    font-size: 14px;
    background-color: #1696CC;
    border-radius: 5px;   
    color: #F0F0F0;
    border-radius: 5px;   
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
  }
  .addBook{
    /* position: absolute;
    left: 150px; */
    float: right;
    
  }

}
/* galaxy s5 */
@media (min-width: 360px) and (max-height: 640px){

  .buttonsCurrent {
    display: inline-block;
    width: 150px;
    font-size: 14px;
    background-color: #1696CC;
    border-radius: 5px;   
    color: #F0F0F0;
    border-radius: 5px;   
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    /* margin-bottom: 5px; */
  }
  .addBook{
    float: right; 
  }
  .containerBook{
    margin-top: 5px;
  }
}

/* nexus 6p nexus 5x */
@media (min-width: 412px) and (max-height: 732px){

  .buttonsCurrent {
    display: inline-block;
    width: 150px;
    font-size: 14px;
    background-color: #1696CC;
    border-radius: 5px;   
    color: #F0F0F0;
    border-radius: 5px;   
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    /* margin-bottom: 5px; */
  }
  .addBook{
    float: right; 
  }
  .containerBook{
    margin-top: 5px;
  }
}

/* iphone 7 + 8 + */
@media (min-width: 414px) and (max-height: 736px){

  .buttonsCurrent {
    display: inline-block;
    width: 150px;
    font-size: 14px;
    background-color: #1696CC;
    border-radius: 5px;   
    color: #F0F0F0;
    border-radius: 5px;   
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
  }
  .addBook{
    float: right; 
  }
  .containerBook{
    margin-top: 5px;
  }
}

/* iphone x */
@media (min-width: 375px) and (max-height: 812px){

  .buttonsCurrent {
    display: inline-block;
    width: 150px;
    font-size: 14px;
    background-color: #1696CC;
    border-radius: 5px;   
    color: #F0F0F0;
    border-radius: 5px;   
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
  }
  .addBook{
    float: right; 
  }
  .containerBook{
    margin-top: 5px;
  }
}
/* ipad */
@media (min-width: 768px) and (max-height: 1024px){

  .buttonsCurrent {
    display: inline-block;
    width: 150px;
    font-size: 26px;
    background-color: #1696CC;
    border-radius: 5px;   
    color: #F0F0F0;
    border-radius: 5px;   
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
  }
  .addBook{
    float: right; 
  }
  .containerBook{
    margin-top: 5px;
  }

  .goBack{
    width: 220px;
  }
}

/* desktop */

.buttonsCurrent {
  display: inline-block;
  width: 150px;
  font-size: 26px;
  background-color: #1696CC;
  border-radius: 5px;   
  color: #F0F0F0;
  border-radius: 5px;   
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
}
.addBook{
  float: right; 
}
.containerBook{
  margin-top: 5px;
}

.goBack{
  width: 220px;
}