.searchPageTopAuthors{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
.helpTopAuthors{
    width: 260px;
    padding: 5px;
    margin: 15px auto;
    border-radius: 5px;
    font-size: 26px;
    text-align: center;
    background-color:#F5F5DC;
}
.searchResultsTopAuthors{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: auto; 
}

.topAuthorsFormWrapper{
    width: 280px;
    margin-top: 30px;
    text-align: center;
    background-color:#F5F5DC;
    margin: 30px auto 0px; 
    border-radius: 5px;
}

.searchLabelTopAuthors{
    width: 260px;
    font-size: 26px;
    border-radius: 5px;   
    color: black;
    display: inline-block;
    border-radius: 5px;   
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}
input[type=submit]{
    width: auto;
    font-size: 22px;
    background-color: #1696CC;
    border-style: solid;
    border-width: thin; 
    border-radius: 5px;   
    color: #F0F0F0;
    margin-top: 8px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}

input[type=text]{
    margin-top: 5px;
    width: 220px;
    height: 30px;
    font-size: 22px;
    border-color: gray;
    border-radius: 5px;
}


@media (width: 360px) and (height: 640px){

    .searchPageTopAuthors{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    .helpTopAuthors{
        width: 260px;
        padding: 5px;
        margin: 15px auto;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
        background-color:#F5F5DC;
    }
    .searchResultsTopAuthors{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
    
    .topAuthorsFormWrapper{
        width: 280px;
        margin-top: 30px;
        text-align: center;
        background-color:#F5F5DC;
        margin: 30px auto 0px; 
        border-radius: 5px;
    }
    
    .searchLabelTopAuthors{
        width: 260px;
        font-size: 22px;
        border-radius: 5px;   
        color: black;
        display: inline-block;
        border-radius: 5px;   
        margin-top: 8px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    input[type=submit]{
        width: auto;
        font-size: 22px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    
    input[type=text]{
        margin-top: 5px;
        width: 220px;
        height: 30px;
        font-size: 22px;
        border-color: gray;
        border-radius: 5px;
    } 
}

@media (width: 412px) and (height: 732px){

    .searchPageTopAuthors{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    .helpTopAuthors{
        width: 260px;
        padding: 5px;
        margin: 15px auto;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
        background-color:#F5F5DC;
    }
    .searchResultsTopAuthors{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
    
    .topAuthorsFormWrapper{
        width: 280px;
        margin-top: 30px;
        text-align: center;
        background-color:#F5F5DC;
        margin: 30px auto 0px; 
        border-radius: 5px;
    }
    
    .searchLabelTopAuthors{
        width: 260px;
        font-size: 22px;
        border-radius: 5px;   
        color: black;
        display: inline-block;
        border-radius: 5px;   
        margin-top: 8px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    input[type=submit]{
        width: auto;
        font-size: 22px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    
    input[type=text]{
        margin-top: 5px;
        width: 220px;
        height: 30px;
        font-size: 22px;
        border-color: gray;
        border-radius: 5px;
    } 
}

@media (width: 375px) and (height: 667px){

    .searchPageTopAuthors{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    .helpTopAuthors{
        width: 260px;
        padding: 5px;
        margin: 15px auto;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
        background-color:#F5F5DC;
    }
    .searchResultsTopAuthors{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
    
    .topAuthorsFormWrapper{
        width: 280px;
        margin-top: 30px;
        text-align: center;
        background-color:#F5F5DC;
        margin: 30px auto 0px; 
        border-radius: 5px;
    }
    
    .searchLabelTopAuthors{
        width: 260px;
        font-size: 22px;
        border-radius: 5px;   
        color: black;
        display: inline-block;
        border-radius: 5px;   
        margin-top: 8px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    input[type=submit]{
        width: auto;
        font-size: 22px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    
    input[type=text]{
        margin-top: 5px;
        width: 220px;
        height: 30px;
        font-size: 22px;
        border-color: gray;
        border-radius: 5px;
    } 
}

@media (width: 414px) and (height: 736px){

    .searchPageTopAuthors{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    .helpTopAuthors{
        width: 260px;
        padding: 5px;
        margin: 15px auto;
        border-radius: 5px;
        font-size: 22px;
        text-align: center;
        background-color:#F5F5DC;
    }
    .searchResultsTopAuthors{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
    
    .topAuthorsFormWrapper{
        width: 280px;
        margin-top: 30px;
        text-align: center;
        background-color:#F5F5DC;
        margin: 30px auto 0px; 
        border-radius: 5px;
    }
    
    .searchLabelTopAuthors{
        width: 260px;
        font-size: 24px;
        border-radius: 5px;   
        color: black;
        display: inline-block;
        border-radius: 5px;   
        margin-top: 8px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    input[type=submit]{
        width: auto;
        font-size: 22px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    
    input[type=text]{
        margin-top: 5px;
        width: 220px;
        height: 30px;
        font-size: 22px;
        border-color: gray;
        border-radius: 5px;
    } 
}

@media (width: 375px) and (height: 812px){

    .searchPageTopAuthors{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }
    .helpTopAuthors{
        width: 260px;
        padding: 5px;
        margin: 15px auto;
        border-radius: 5px;
        font-size: 22px;
        text-align: center;
        background-color:#F5F5DC;
    }
    .searchResultsTopAuthors{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto; 
    }
    
    .topAuthorsFormWrapper{
        width: 280px;
        margin-top: 30px;
        text-align: center;
        background-color:#F5F5DC;
        margin: 30px auto 0px; 
        border-radius: 5px;
    }
    
    .searchLabelTopAuthors{
        width: 260px;
        font-size: 24px;
        border-radius: 5px;   
        color: black;
        display: inline-block;
        border-radius: 5px;   
        margin-top: 8px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    input[type=submit]{
        width: auto;
        font-size: 22px;
        background-color: #1696CC;
        border-style: solid;
        border-width: thin; 
        border-radius: 5px;   
        color: #F0F0F0;
        margin-top: 8px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5px;
    }
    
    input[type=text]{
        margin-top: 5px;
        width: 220px;
        height: 30px;
        font-size: 22px;
        border-color: gray;
        border-radius: 5px;
    } 
}